*
{
   margin: 0; 
   padding: 0; 
   box-sizing: border-box; 
   font-family: 'Times New Roman',Times, serif, cursive; 
   font-weight: normal; box-sizing: border-box;
   border: none; 
   outline: none; 
   font-weight: 300;
   box-sizing: border-box; 
   scroll-behavior: smooth;
}
.principal{
   background: linear-gradient(to right, 
   rgb(206, 0, 0), #570000)
}

header{
   position: center; 
   top: 0; 
   left: 0; 
   width: 100%; 
   padding: 40px 100px;
   z-index: 1000; 
   display: flex; 
   justify-content: center; 
   align-items: center; 
   transition: 0.8s;
}

header li{
   position: center; 
   list-style: none;
}

header  li a{
   position: center; 
   display: inline-block; 
   margin: 0 15px;
   color: rgb(255, 238, 0); 
   text-decoration: none;
   text-transform:uppercase;
   overflow: hidden;
   transition: 0.8s; 
   font-size: 2em;
}

header li a:hover{
   color: yellowgreen;
   background: #c96b00;
   box-shadow: 0 0 10px #c96b00, 
   0 0 40px #c96b00, 0 0 80px #c96b00;
   transition-delay: 0.5s; 
   -webkit-box-reflect: below 1px 
   linear-gradient(transparent,#0005); 
   transition: 0.5s;
}

body{
   background: rgb(206, 0, 0);
}

h1{
   position: center; 
   top: 0; 
   left: 0; 
   width: 100%; 
   padding: 40px 100px; 
   z-index: 1000;
   display: flex; 
   justify-content: center; 
   align-items: center; 
   color: rgb(255, 166, 0);
   transform: translate(0%, 50%); 
   font-size:5em;
}

nav{background: royalblue;
}

h5{color: yellow;
}

.animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
 .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
    
    
    .animated-icon3 span {
    background: #00ee00;
    }
    
    
    
    /* Icon 4 */
    
    .animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
    }
    
    .animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
    }
    
    .animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
    }

.principais{
   text-align: center; 
   background: linear-gradient(to right,
 rgb(206, 0, 0), #570000)
}

.principais p{
   color: whitesmoke;
}

img{
   height:auto; 
   width: 100%; 
   max-width: 800px;
}

.carousel-inner img{ 
   margin:auto;
}

.local{
   display: flex; 
   justify-content: center; 
   align-items: center; 
   min-height: 100vh;
   background: black; 
   flex-wrap: wrap; 
   background: darkblue;
}

.local .encontrar{
   position: relative; 
   width: 320px; 
   height: 420px;
   background: rgb(0, 0, 78); 
   border-radius: 20px; 
   margin: 40px; 
   overflow: hidden;
}

.encontrar::before{
   content: ''; 
   position: absolute; 
   top: -50%; 
   width: 100%;
   height: 100%; 
   background: rgb(196, 1, 1); 
   transform: skewY(345deg); 
   transition: 0.5s;
}

.encontrar:hover::before{
   top: -70%; 
   transform: skewY(390deg);
}

.encontrar::after{
   content: 'FastCarShop'; 
   position: absolute; 
   bottom: 0;
   left: 0; 
   font-weight: 100; 
   font-size: 5em; 
   color: rgba(68, 1, 1, 0.966);
}

.encontrar .imgBx{
   position: relative; 
   width: 100%; 
   display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 20px; 
    z-index: 1;
}

.encontrar .imgBx img{
   max-width: 100%; 
   transition: 0.5s;
}

.encontrar:hover .imgBx img{
   max-width: 50%
}

.encontrar .contentBx{
   position: relative; 
   padding: 20px; 
   display: flex; 
   justify-content: center; 
   align-items: center; 
   flex-direction: column; 
   z-index: 1;
}

.encontrar .contentBx h3{
   font-size: 18px; 
   color: aliceblue; 
   font-weight: 500;
   text-transform: uppercase; 
   letter-spacing: 1px;
}

.encontrar .contentBx .price{
   font-size: 24px; 
   color: aliceblue;
   font-weight: 500; 
   letter-spacing: 1px;
}

.encontrar .contentBx .buy{
   position: relative; 
   top: 200px; 
   opacity: 0;
   padding: 10px 30px; 
   margin-top: 15px; 
   color: aliceblue;
   text-decoration: none; 
   background: #fda502;
   border-radius: 30px; 
   border: 3px solid transparent; 
   text-transform: uppercase; 
   letter-spacing: 1px; 
   transition: 0.5s;
}

.encontrar .contentBx .buy:hover{
   transition: 0.5s;
   color: tomato;
   background: transparent; 
   border-color:#fda502;
}

.encontrar:hover .contentBx .buy{
   top: 0; 
   opacity: 1;
}

.fa{
   transition: 0.8s;
}
.contentBx li i{
font-size: 24px;
}

.fa-whatsapp:hover{
   color: rgb(8, 185, 8); 
}

.fa-facebook:hover{
   color: rgb(0, 44, 175);
}

.fa-instagram{
   transition: 1s;
}

.fa-instagram:hover{
   background: -webkit-linear-gradient(#9c47fc, #c37f00);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   transition: 1s;
}

.fa-map-marker:hover{
   color: rgb(5, 103, 194);
}

.contentBx li {
   color: rgb(238, 95, 0); 
   margin-bottom: 10px; 
   transition: 0.5s;
}

.contentBx i {
   margin-right: 5px;
}

.toggle{
   background-repeat: no-repeat;
}

.navbar-nav{
   transition: 0.5s;
}

.navbar-nav.active{
   left: 0;
}

.parceiros{
   position: center; 
   display: flex; 
   justify-content: center; 
   align-items: center; 
   min-height: 100vh;  
   background: rgb(0, 0, 0);
}

.parceiros img{
   position: relative; 
   display: inline-block; 
   align-items: center;
   justify-content: center; 
   width: 420px;
}

.parceiros h2{
   position: relative; 
   display: flex; 
   justify-content: center; 
   align-items: center;
   color: rgb(206, 0, 0);
}

.patro a{
   align-items: center; 
   justify-content: center; 
   padding: 10px 20px;
   text-decoration: none; 
   border: 1px solid #fff; 
   color: white;
   width: 4rem;
   height: 4rem; 
   left: 15rem;
   transition: .5s;
   position: absolute;
   display: flex;
   z-index: 10;
   
}

.parceiros a:hover{
   color: rgb(0, 0, 0); 
   background: white;
   text-decoration: none;
}